# ==============================================================================
# ENT EST Salé — Docker Compose Environment
# Copy to .env.compose and change secrets before first run.
#   cp .env.compose.example .env.compose
# ==============================================================================

# Project
COMPOSE_PROJECT_NAME=ent-est-platform
TZ=Africa/Casablanca

# Keycloak + PostgreSQL
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=ChangeMe_123!
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=ChangeMe_123!
KEYCLOAK_HOSTNAME=localhost
DEV_ADMIN_PASSWORD=Admin_123!
DEV_TEACHER_PASSWORD=Teacher_123!
DEV_STUDENT_PASSWORD=Student_123!

# RabbitMQ
RABBITMQ_USER=ent
RABBITMQ_PASSWORD=ChangeMe_123!
RABBITMQ_VHOST=/

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=ChangeMe_123!
MINIO_DEFAULT_BUCKETS=ent-courses,ent-uploads,ent-logs

# Cassandra
CASSANDRA_PASSWORD=ChangeMe_123!
CASSANDRA_CLUSTER_NAME=ent-est-cluster
CASSANDRA_KEYSPACE=ent_est

# Optional dev tools
REDIS_PASSWORD=ChangeMe_123!
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

# MS-Auth-Core
MS_AUTH_CORE_PORT=8010
AUTH_REALM=ent-est
AUTH_ISSUER=http://localhost:8080/realms/ent-est
AUTH_JWKS_URL=http://keycloak:8080/realms/ent-est/protocol/openid-connect/certs
AUTH_AUDIENCE=ent-gateway,ent-frontend
AUTH_VERIFY_AUDIENCE=true

# MS-API-Gateway
MS_API_GATEWAY_PORT=8008
AUTH_CORE_BASE_URL=http://ms-auth-core:8000
GATEWAY_TIMEOUT_SECONDS=8
GATEWAY_COURSE_CONTENT_URL=http://ms-course-content:8000
GATEWAY_COURSE_ACCESS_URL=http://ms-course-access:8000
GATEWAY_IDENTITY_ADMIN_URL=http://ms-identity-admin:8000

# MS-Identity-Admin
MS_IDENTITY_ADMIN_PORT=8013
IDENTITY_ADMIN_TIMEOUT_SECONDS=8
IDENTITY_ADMIN_ALLOWED_ROLES=admin
KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_REALM=ent-est
KEYCLOAK_ADMIN_REALM=master
CASSANDRA_CONTACT_POINTS=cassandra
CASSANDRA_PORT=9042
CASSANDRA_USERNAME=cassandra
IDENTITY_ADMIN_PROFILE_TABLE=user_profiles

# MS-Course-Content
MS_COURSE_CONTENT_PORT=8011
COURSE_CONTENT_ALLOWED_ROLES=teacher,admin
COURSE_CONTENT_TIMEOUT_SECONDS=8
MINIO_ENDPOINT=http://minio:9000
MINIO_COURSE_BUCKET=ent-courses
INTERNAL_API_TOKEN=dev-internal-token
COURSE_CONTENT_COURSES_TABLE=courses
COURSE_CONTENT_ASSETS_TABLE=course_assets

# MS-Course-Access
MS_COURSE_ACCESS_PORT=8012
COURSE_CONTENT_BASE_URL=http://ms-course-content:8000
COURSE_ACCESS_ALLOWED_ROLES=student
COURSE_ACCESS_TIMEOUT_SECONDS=8
MINIO_SIGNING_ENDPOINT=http://localhost:9002
COURSE_DOWNLOAD_TTL_SECONDS=180

# MS-Notification
MS_NOTIFICATION_PORT=8014
NOTIFICATION_RABBITMQ_URL=amqp://ent:ChangeMe_123!@rabbitmq:5672/
EVENTS_EXCHANGE=ent.events.topic
NOTIF_QUEUE=q.notification.user
NOTIFICATION_ENABLE_CONSUMER=true
